.navbar
    .logo Travel Journey
    button.toggle-btn &#9776;



.sidebar.deActive
    ul
        li
            a(href="/agent/dashboard") Dashboard
        li
            a(href="/agent/clients") Clients
        li
            a(href="/agent/services") Services 
        li
            a(href="/agent/offers") Offers
        li
            a(href="/agent/packages") Packages
        li
            a(href="/agent/profile") My Profile
        li
            a(href="/agent/history") History
        li
            a(href="/user/logout") Logout
        
