footer
  .footer-container
    .footer-column
      h3 Explore
      ul
        li: a(href="/") Home
        li: a(href="/aboutus") About Us
        li: a(href="/services") Services
        li: a(href="/contact") Contact
        
    .footer-column
      h3 Connect With Us
      .social-icons
        a(href="#"): i.fab.fa-facebook
        a(href="#"): i.fab.fa-twitter
        a(href="#"): i.fab.fa-instagram
        
    .footer-column
      h3 Contact Us
      p Address: 123 Travel St, Adventure City, Wonderland!
      p Phone: (123) 456-7890
      p Email: info@traveljournal.com
      
    .footer-column
      h3 Testimonials
      p "Amazing service! Had a great experience exploring new places." - Happy Customer

  .copyright
    p &copy; 2024 Travel Journal. All rights reserved!
