footer
  .footer-container
    .footer-column
      h3 Explore
      ul
        li: a(href="/") Home
        li: a(href="/aboutus") About Us
        li: a(href="/services") Services
        li: a(href="/contact") Contact
    .footer-column
      h3 Connect With Us
      .social-icons
        a(href="#"): i.fab.fa-facebook
        a(href="#"): i.fab.fa-twitter
        a(href="#"): i.fab.fa-instagram
    .footer-column.newsletter
      
  .copyright
    p &copy; 2024 Travel Jornal. All rights reserved!.
