<<<<<<< HEAD
doctype html
html
  head
    title Travel Journal
    link(rel="stylesheet" href="/style.css")
  body
    header
      nav
        img.logo(src="/assets/images/logo.jpg", alt="Travel Journal Logo")
        a(href="/") Home
        a(href="/aboutus") Our Story
        a(href="/services") Services
        a(href="/contact") Contact

        if !userId
          a(href="/register.pug") Get Started
          a(href="/login") Sign In

        if userId
          a(href="/user/dashboard") Dashboard
          a(href="/logout") Log Out
=======
header
  h1 Travel Journal
  p Travel Beyond Borders!

nav
  ul
    li: a(href="/") Home
    li: a(href="/aboutus") Our Story
    li: a(href="/services") Services
    li: a(href="/contact") Contact

    if !userId
      li: a(href="/register") Get Started 
      li: a(href="/login") Sign In
 
    if userId 
      li: a(href="/user/dashboard") Dashboard
      li: a(href="/user/logout") Log Out 

>>>>>>> aa36d4b493bc5aecd06e257bc9614cfc2a753e76
