extends layout 

block content-head 
    title Registration Successful
    
block content-body 
  
    section.success-section
        .success-container
            h2 Registration Successful!
<<<<<<< HEAD
            p Welcome, #{username || agentaname}! Your registration was successful.
=======
            p Welcome, #{first_name}! Your registration was successful.
>>>>>>> aa36d4b493bc5aecd06e257bc9614cfc2a753e76
            img(src="./assets/img/success.gif" alt="Success") 
            p#countdown You will be redirected to the login page in 10 seconds. // Countdown message
            a.success-link(href="/") Go to Home

    script(src="./assets/js/successRegisterCounter.js") 


